{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление новостями{% endblock %}

{% block body -%}
    <h1>Новости</h1>
    <a href="{{ path('news_new') }}" class="btn btn-info">Добавить новость</a>
    <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Заголовок</th>
                <th>Изображение</th>
                <th>Краткое описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d.m.Y') }}{% endif %}</td>
                <td>{{ entity.title }}</td>
                <td>
                    {% if entity.image %}
                        <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.title }}">
                    {% endif %}
                </td>
                <td>{{ entity.brief|raw }}</td>
                <td>
                    <a href="{{ path('news_edit', { 'id': entity.id }) }}" class="icon-pencil"></a>
                    <a href="{{ path('news_delete', { 'id': entity.id }) }}" class="icon-trash"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
