{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Добавление новости{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block body -%}
    <h1>Добавление новости</h1>

    <form action="{{ path('news_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        <div class="row-fluid">
            <div class="span12">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{{ path('partner') }}" class="btn">Отмена</a>
        </div>
    </form>
{% endblock %}
