{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Редактирование каталога продукции{% endblock %}


{% block brads %}
        {{ parent() }}
        {% if parent %}
            <li><a href="{{ path('admin_catalog_index') }}">Каталог</a> <span class="divider">/</span></li>            
            {% if parent.parent and parent.parent.parent %}
            {% endif %}
            {% if parent.parent %}
                <li><a href="{{ path('admin_catalog_index', {'id':parent.parent.id}) }}">{{ parent.parent.title }}</a> <span class="divider">/</span></li>
            {% endif %}
            <li class="active">{{ parent.title }}</li>
        {% else %}
            <li class="active">Каталог</li>
        {% endif %}
{% endblock %}
{% block body -%}
    <h1>Продукция</h1>
    <a href="{{ path('admin_product_new', {'parent': id}) }}" class="btn btn-info">Добавить продукт</a>
    <br /><br />
    {% if parent %}
        <form action="{{ path('admin_catalog_delete_checked', {'parent':parent.id}) }}" method="post" id="delete-checked-form" class="form-horizontal">
    {% else %}
        <form action="{{ path('admin_catalog_delete_checked') }}" method="post" id="delete-checked-form" class="form-horizontal">
    {% endif %}
    {% if products|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Изображение</th>
                    <th>Заголовок</th>
                    <th>Цена</th>
                    <th>Позиция</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in products %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>
                        {% if entity.image %}
                            <img src="{{ vich_uploader_asset(entity, 'image') }}" style="height:186px;">
                        {% endif %}
                    </td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.price }} руб.</td>
                    <td>
                        <a href="{{ path('admin_catalog_position_up', {'id':entity.id}) }}" class="icon-arrow-up"></a>
                        <a href="{{ path('admin_catalog_position_down', {'id':entity.id}) }}" class="icon-arrow-down"></a>
                        {{ entity.position }}
                    </td>
                    <td>
                        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}" class="icon-pencil"></a>
                        <a data-id="{{ entity.id }}" href="{{ path('admin_catalog_delete', { 'id': entity.id }) }}" class="icon-trash delete-modal"></a>
                    </td>
                    <td><input type="checkbox" value="{{ entity.id }}" name="delete-items[]" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    <h1>Категории</h1>
    <a href="{{ path('admin_category_new', {'parent': id}) }}" class="btn btn-info">Добавить категорию</a>
    <br /><br />
    {% if categories|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Заголовок</th>
                    <th width="90">Позиция</th>
                    <th width="90"></th>
                    <th width="40"></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in categories %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('admin_catalog_index', {'id':entity.id}) }}">{{ entity.title }}</a></td>
                    <td>
                        <a href="{{ path('admin_catalog_position_up', {'id':entity.id}) }}" class="icon-arrow-up"></a>
                        <a href="{{ path('admin_catalog_position_down', {'id':entity.id}) }}" class="icon-arrow-down"></a>
                        {{ entity.position }}
                    </td>
                    <td>
                        <a href="{{ path('admin_category_edit', { 'id': entity.id }) }}" class="icon-pencil" ></a>
                        <a data-id="{{ entity.id }}" href="{{ path('admin_catalog_delete', { 'id': entity.id }) }}" class="icon-trash delete-modal"></a>
                    </td>
                    <td><input type="checkbox" value="{{ entity.id }}" name="delete-items[]" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if categories|length or products|length %}
        <div class="row-fluid">
            <div class="span2 pull-right">
                <button type="submit" id="delete-checked" class="btn btn-danger">Удалить отмеченные</button>
            </div>
        </div>
    {% endif %}
    </form>

<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Вы уверены, что хотите удалить?</h3>
    </div>
    {#<div class="modal-body">
        <p>One fine body…</p>
    </div>#}
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Нет</button>
        <a class="btn btn-primary" id="button-delete-yes" href="#">Да</a>
    </div>
</div>
{% endblock %}

{% block footer %}
    <br /><br /><br />
    <div class="container footer well">
        <div class="row-fluid">
            <div class="span6 footer_info1">
                <p>&copy; 2013 ЧТУП &laquo;АртФридом&raquo;</p>
            </div>
            <div class="span4 offset2">
                <a href="{{ path('admin_catalog_position_resset') }}">Сбросить все позиции каталога</a>
            </div>
        </div>
    </div> 
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-modal.js') }}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('a.delete-modal').click(function(){
                var link = $(this).attr('href');
                $('#button-delete-yes').attr('href', link);
                console.log(link);
                $('#deleteModal').modal('toggle');
                return false;
            });

            $('#delete-checked').click(function(){
                $('#button-delete-yes').attr('class', 'btn btn-primary delete-checked-confirm')
                $('#deleteModal').modal('toggle');

                return false;
            });

            $('.delete-checked-confirm').live('click', function(){
                var form = $('form#delete-checked-form');
                $('#button-delete-yes').attr('class', 'btn btn-primary')
                $('form#delete-checked-form').submit();
            });
        });
    </script>
{% endblock %}