{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Создание категории{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block brads %}
        {{ parent() }}
        {% if parent %}
            <li><a href="{{ path('admin_catalog_index') }}">Каталог</a> <span class="divider">/</span></li>            
            {% if parent.parent and parent.parent.parent %}
            {% endif %}
            {% if parent.parent %}
                <li><a href="{{ path('admin_catalog_index', {'id':parent.parent.id}) }}">{{ parent.parent.title }}</a> <span class="divider">/</span></li>
            {% endif %}
            <li><a href="{{ path('admin_catalog_index', {'id':parent.id}) }}">{{ parent.title }}</a> <span class="divider">/</span></li>
            <li class="active">Добавление категории</li>
        {% else %}
            <li class="active">Каталог</li>
        {% endif %}
{% endblock %}
{% block body -%}
    <h1>Создание категории</h1>

    <form action="{{ path('admin_category_create', {'parent': parentId}) }}" method="post" {{ form_enctype(form) }}>
        <div class="row-fluid">
            <div class="span12">
                    {{ form_widget(form) }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            {% if entity.parent %}
                <a href="{{ path('admin_catalog_index', {'id':entity.parentId}) }}" class="btn">Отмена</a>
            {% else %}
                <a href="{{ path('admin_catalog_index') }}" class="btn">Отмена</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
