{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Редактирование партнера{% endblock %}

{% block body -%}
    <h1>Редактирование партнера</h1>

    <form action="{{ path('partner_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <div class="row-fluid">
            <div class="span2">
                {% if entity.image %}
                    <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="">
                {% endif %}
            </div>
            <div class="span10">
                <input type="hidden" name="_method" value="PUT" />
                {{ form_widget(edit_form) }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{{ path('partner') }}" class="btn">Отмена</a>
        </div>
    </form>
{% endblock %}
