{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление партнерами{% endblock %}

{% block body -%}
    <h1>Партнеры</h1>
    <a href="{{ path('partner_new') }}" class="btn btn-info">Добавить партнера</a>
    <br /><br />
    {% if entities|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Ссылка</th>
                    <th>Изображение</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.link }}</td>
                    <td>
                        {% if entity.image %}
                            <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.title }}"></td>
                        {% endif %}
                    <td>
                        <a href="{{ path('partner_edit', { 'id': entity.id }) }}" class="icon-pencil"></a>
                        <a href="{{ path('partner_delete', { 'id': entity.id }) }}" class="icon-trash"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
