{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Добавление партнера{% endblock %}

{% block body -%}
    <h1>Добавление партнера</h1>

    <form action="{{ path('partner_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{{ path('partner') }}" class="btn">Отмена</a>
        </div>
    </form>
{% endblock %}
