{% extends 'PapAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Редактирование слова</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pap_dictionary') }}">
            Вернуться к списку
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
