{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление словарями{% endblock %}

{% block body -%}
    <h1>Словари</h1>
    <a href="{{ path('pap_dictionary_new') }}" class="btn btn-info">Добавить слово</a>
    <br /><br />
    {% if entities|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Заголовок</th>
                    <th>Значение</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('pap_dictionary_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.value }}</td>
                    <td>
                        <a href="{{ path('pap_dictionary_edit', { 'id': entity.id }) }}"  class="icon-pencil"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
