{% extends 'PapAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Создание слова</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pap_dictionary') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}
