{% extends 'PapAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Словарь</h1>
    <p>Для использования данного слова необходимо в twig шаблон вставить <b>&#123;&#123; render(url('pap_dictionary_get', {'name':'{{ entity.name }}'})) &#125;&#125;</b></p>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Заголовок</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Значение</th>
                <td>{{ entity.value }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pap_dictionary') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('pap_dictionary_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
