{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Sign in{% endblock %}
{% block stylesheets %}
{{ parent() }}

<style type="text/css">
    body {
        background-color: #f5f5f5;
    }
    .form-signin {
        max-width: 100%;
        padding: 19px 29px 29px;
        margin: auto;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading {
        margin-bottom: 10px;
    }
    .form-signin input[type="text"], .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
</style>
{% endblock %}

{% block bradcrumps %}{% endblock %}

{% block body %}
{% block main_menu_container %}{% endblock %}
<div class="container">
    <div class="row-fluid" style="margin-top: 100px;">
        <div class="span6 offset3 well">
            <form action="{{ path("login_check") }}" method="post" class="form-signin">
                <legend>Вход</legend>
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}
                <input type="text" class="input-block-level" placeholder="Логин" id="username" name="_username" value="{{ last_username }}" />
                <input type="password" class="input-block-level" placeholder="Пароль" id="password" name="_password" />
                <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Войти" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}