/* =Main Nav
-----------------------------------------------------------------------------*/
#nav  {width:201px;
height:308px;
float:left;
margin:0;
padding:11px 0 7px 0;
list-style:none;
background:url(../images/bg-nav.jpg) no-repeat top left;}

#nav li a:hover{display:block;padding:11px 0 11px 30px;font:14px 'Trebuchet MS', Arial, sans-serif;color:#005488;background:#d2edff url(../images/nav-act.gif) repeat-x left top;}
#nav  li.current  a {display:block;padding:11px 0 11px 30px;font:14px 'Trebuchet MS', Arial, sans-serif;background:#d2edff url(../images/nav-act.gif) repeat-x left top;}
#nav>li.current>a {color:#002043!important;}
#nav   li.line {background:#9a9a9a;float:left!important;height:7px;margin:5px 25px 0;overflow:hidden;width:1px;z-index:998;}
#nav div.line{margin:0 30px 0 30px;height:1px;background:url(../images/line.gif) repeat-x left top;}
ul.menu_level_1 {z-index: 1000;}
#nav>li.current>ul.menu_level_1>li.current>a {color:#002043!important;}
ul.menu_level_1 li a {background:#fff !important; height: 15px;  font-size: 14px !important;  padding: 11px 0 11px 30px!important;}
ul.menu_level_1 li a:hover {background:#fff !important; height:15px; font-size: 14px !important;}
ul.menu_level_1 li.current a {background:#fff !important; height: 15px;  font-size: 14px !important;}
ul.menu_level_1 li.current a:hover {background:#fff !important; height:15px;  font-size: 14px !important;}
li.current ul.menu_level_1 li a, ul.menu_level_1 li a:hover {color:blue;}

#nav a{line-height:14px!important;display:block;padding:11px 0 11px 30px;font:14px 'Trebuchet MS', Arial, sans-serif;color:#ffffff;text-decoration:none;}
#nav a.active{line-height:14px!important;display:block;padding:11px 0 11px 30px;font:14px 'Trebuchet MS', Arial, sans-serif;color:#ffffff;text-decoration:none;}
#nav a{margin:0;}
#nav li li a{text-align:left;}

/* All menu links on hover or focus */
#nav a:hover, #nav a.mainMenuParentBtnFocused{background:#d2edff url(../images/nav-act.gif) repeat-x left top;color:#005488;}
#subMenusContainer a{line-height:10px!important;display:block;padding:5px 18px 5px 28px;font:12px 'Trebuchet MS', Arial, sans-serif;color:#0092cc;text-decoration:none;background:url(../images/marker.gif) no-repeat 18px 8px;}
#subMenusContainer a:hover,
#subMenusContainer a:focus,
#subMenusContainer a.subMenuParentBtnFocused{padding:5px 18px 5px 28px;line-height:10px!important;position:relative;float:none;background:url(../images/marker.gif) no-repeat 18px 8px;color:#0092cc;font:12px 'Trebuchet MS', Arial, sans-serif;}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, #subMenusContainer li.acti a,
#subMenusContainer a:focus, 
#subMenusContainer a.subMenuParentBtnFocused{color:#073061;padding:5px 18px 5px 28px;line-height:10px!important;position:relative;float:none;background:url(../images/marker-act.gif) no-repeat 18px 8px;color:#073061;font:12px 'Trebuchet MS', Arial, sans-serif;}
#nav a.mainMenuParentBtnFocused{background:#d2edff url(../images/nav-act.gif) repeat-x left top;color:#005488;}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{background: url(../images/arrow_right.gif) right center no-repeat; }

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{background: url(../images/arrow_right_over.gif) right center no-repeat;  }

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	background: url(../images/arrow_right.gif) right center no-repeat; }

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{background: url(../images/arrow_right_over.gif) right center no-repeat; }

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ display:none;position: absolute; overflow:hidden; padding:0 2px;margin:0 0 0 -2px;}

#nav ol, #nav ul {left:0;}
#subMenusContainer ul, #subMenusContainer ol {left:0;background:#fefeff url(../images/bg-dropmenu.gif) repeat-x left top!important;}
#nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol {padding:7px 0 7px 0;margin:0;list-style:none;}
#nav li {display:inline; /* :KLUDGE: Fixes IE double margin float bug */display:block;list-style:none;position:relative;margin:0;padding:0;}

#subMenusContainer li{list-style: none;display:inline; /* :KLUDGE: Fixes IE double margin float bug */padding:0;margin:0;}
#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; }

#nav li li{float:none;}
#nav li li a{padding:5px 18px 5px 28px;line-height:10px!important;position:relative;float:none;background:url(../images/marker.gif) no-repeat 18px 8px;color:#0092cc;font:12px 'Trebuchet MS', Arial, sans-serif;}
#nav li li a:hover{padding:5px 18px 5px 28px;line-height:10px!important;position:relative;float:none;background:url(../images/marker-act.gif) no-repeat 18px 8px;color:#073061;font:12px 'Trebuchet MS', Arial, sans-serif;}
#nav li ul {position:absolute;width:201px;margin-left: -1000em;}

/* third-and-above-level lists */
#nav li ul ul {margin:-1em 0 0 -1000em;}
#nav li:hover ul ul {margin-left:-1000em;}

 /* lists nested under hovered list items */
#nav li:hover ul   {margin-left:201px;margin-top:-26px;background:#fefeff url(../images/bg-dropmenu.gif) repeat-x left top!important;color:#0092cc;}
#nav li li:hover ul {margin-left:201px; }

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul 	{margin-left:201px;margin-top:-26px;color:#0092cc;}
#nav li li a:focus + ul 	{left:201px;margin-left:1010em;margin-top:-2.5em;color:#0092cc;}
#nav li li a:focus 		{left:201px;margin-left:1000em;width:285px;margin-top:-26px;}
#nav li li li a:focus 		{left:201px;margin-left:2010em;width:285px;margin-top:-26px;}
#nav li:hover a:focus	{margin-left:0;}
#nav li li:hover a:focus + ul {margin-left:201px;}

