<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Гродвита Плюс - Хлебобулочные изделия!{% endblock %}</title>
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}" />
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block parent_body %}
            {% block body %}{% endblock %}
        {% endblock %}
        {% block footer_javascripts %}{% endblock %}
        {% block google_analitic %}
        {% endblock %}
    </body>
</html>
