{% extends 'PapAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block body -%}
    <h1>Редактирование страницы</h1>

    {{ form(edit_form) }}

        <ul class="table table-bordered">
		    <li>
		        <a href="{{ path('page') }}">
		            Вернуться к списку
		        </a>
		    </li>
		    <li>{{ form(delete_form) }}</li>
		</ul>
{% endblock %}
