{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление страницами{% endblock %}

{% block body -%}
    <h1>Страницы</h1>
    <a href="{{ path('page_new') }}" class="btn btn-info">Добавить страницу</a>
    <br /><br />
    {% if entities|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Название</th>
                    <th>Содержимое</th>
                    <th>МЕТА Заголовок</th>
                    <th>МЕТА Ключевые слова</th>
                    <th>МЕТА Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.content }}</td>
                    <td>{{ entity.metaTitle }}</td>
                    <td>{{ entity.metaKeywords }}</td>
                    <td>{{ entity.metaDescription }}</td>
                    <td>
                        <a href="{{ path('page_show', { 'id': entity.id }) }}" class="icon-eye-open" title="Просмотреть"></a>
                        <a href="{{ path('page_edit', { 'id': entity.id }) }}"  class="icon-pencil" title="Редактировать"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
