{% extends 'PapAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block body -%}
    <h1>Страница</h1>

    {{ form(form) }}

        <ul class="record_actions">
		    <li>
		        <a href="{{ path('page') }}">
		            Вернуться к списку
		        </a>
		    </li>
		</ul>
{% endblock %}
