{% extends 'PapPageBundle::layout.html.twig' %}

{% block body -%}
    <h1>Просмотр страницы</h1>

    <table class="table table-bordered" width="100%">
        <tbody>
            <tr>
                <th width="20%">ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Заголовок</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Контент</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>МЕТА Заголовок</th>
                <td>{{ entity.metaTitle }}</td>
            </tr>
            <tr>
                <th>МЕТА Ключевые слова</th>
                <td>{{ entity.metaKeywords }}</td>
            </tr>
            <tr>
                <th>МЕТА Описание</th>
                <td>{{ entity.metaDescription }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
