{% extends '::base.html.twig' %}

{% block metaKeywords %}{% if page.metaKeywords is defined %}{{ page.metaKeywords }}{% endif %}{% endblock %}
{% block metaDescription %}{% if page.metaDescription is defined %}{{ page.metaDescription }}{% endif %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('templates/bulki/css/index.css') }}" rel="stylesheet">
    <link href="{{ asset('templates/bulki/css/menumatic.css') }}" rel="stylesheet">
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('templates/bulki/js/index.js') }}"></script>
{% endblock %}


{% block body %}
<div id="page">
    <div id="wrapper">
        {% block header %}
            <div id="header" align="center">
                <div id="info-header">
                    <div id="logo">
                        <a href="/" style="color:#991900; font-size:32px; text-decoration:none;">
                            {{ render(url('pap_dictionary_get', {'name':'siteName'})) }}
                            {#<img src="{{ asset('templates/bulki/images/logo-ru.png') }}" width="310"  height="20" alt="ОАО Гомельхлебопродукт" class="png"/>#}
                        </a>
                    </div>
                </div>

                <div id="visual-header">
                    {% block main_menu_container %}
                        <div class="navB">
                            <!-- <ul id="nav" >  -->
                                {% block main_menu %}
                                    {{ knp_menu_render('PapContentBundle:Builder:mainMenu') }}
                                {% endblock main_menu %}       
                            <!-- </ul> -->
                        </div>
                        <div id="flash"><script src="{{ asset('templates/bulki/js/flash.js') }}"></script></div>
                    {% endblock main_menu_container %}
                </div>
                <div id="info-header">
                    <div id="logo">
                        <a href="/" style="color:#991900; font-size:32px; text-decoration:none;">
                            Гродвита Плюс
                        </a>
                    </div>
                </div>
            </div>
        {%  endblock header %}
        <div id="content">
            <div id="mainContent">
                <div id="textBlock">
                    <div class="textBlock">
                        {% if page is defined %}{{ page.content|raw }}{% endif %}
                    </div>
                </div>
            
                {% render(controller('PapContentBundle:News:showLast')) %}
            </div>
            <div id="secondaryContent">
                <div class="contacts">
                    <h4>Наши контакты</h4>
                    <table style = "WIDTH: 301px; HEIGHT: 46px">
                        <tbody>
                            <tr>
                                <td>Тел. (приёмная):</td>
                                <td>{{ render(url('pap_dictionary_get', {'name':'phone1'})) }}</td>
                            </tr>
                            <tr>
                                <td>Факс:</td>
                                <td>{{ render(url('pap_dictionary_get', {'name':'phoneFax'})) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {#% block content %}{% endblock %#}
        </div>
        <div id="footerB">
            <div id="footer">
                <div class="footer">
                    <div class="info-foot">
                        <div class="copy">{{ render(url('pap_dictionary_get', {'name':'copyright'})) }}</div>
                    </div>
                    {{ knp_menu_render('PapContentBundle:Builder:footerMenu') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
