{% extends '::base.html.twig' %}

{% block metaKeywords %}{% if page.metaKeywords is defined %}{{ page.metaKeywords }}{% endif %}{% endblock %}
{% block metaDescription %}{% if page.metaDescription is defined %}{{ page.metaDescription }}{% endif %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('templates/bulki/css/index.css') }}" rel="stylesheet">
    <link href="{{ asset('templates/bulki/css/menumatic.css') }}" rel="stylesheet">
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('templates/bulki/js/index.js') }}"></script>
{% endblock %}


{% block body %}
<div id="pagei">
    <div id="wrapperi">
        {% block header %}
            <div id="headeri" align="center">
                {% block main_menu_container %}
                    <div class="navBi">
                        {% block main_menu %}
                            {{ knp_menu_render('PapContentBundle:Builder:mainMenu') }}
                        {% endblock main_menu %}       
                    </div>
                {% endblock main_menu_container %}
                <div id="info-header">
                    <div id="logo">
                        <a href="{{ path('content_home') }}" style="color:#991900; font-size:32px; text-decoration:none;">
                            {{ render(url('pap_dictionary_get', {'name':'siteName'})) }}
                        </a>
                    </div>
                </div>
                <!--Contacts-->
                <div class="contacts-in">
                    <h4>Наши контакты</h4>
                        <table style = "WIDTH: 301px; HEIGHT: 46px">
                            <tbody>
                                <tr>
                                    <td>Тел. (приёмная):</td>
                                    <td>{{ render(url('pap_dictionary_get', {'name':'phone1'})) }}</td>
                                </tr>
                                <tr>
                                    <td>Факс:</td>
                                    <td>{{ render(url('pap_dictionary_get', {'name':'phoneFax'})) }}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <!--/Contacts-->
            </div>
        {%  endblock header %}
        <div id="contenti">
            <div id="mainContenti">
                <div id="title">
                    <div class="title">
                        <div>
                            <div id="crumb">
                            <h1>{% block page_title %}{% endblock %}</h1>
                            {% block breads %}
                                <a href="{{ path('content_home') }}">Главная</a><img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
                            {% endblock breads %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cont">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footerB">
            <div id="footer">
                <div class="footer">
                    <div class="info-foot">
                        <div class="copy">{{ render(url('pap_dictionary_get', {'name':'copyright'})) }}</div>
                    </div>
                    {{ knp_menu_render('PapContentBundle:Builder:footerMenu') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
