{% if pageCount > 1 %}
<div class="result-found">
    {% if previous is defined %}
        <div class="prevs">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" title="Предыдущая"><img src="{{ asset('templates/bulki/images/prev.gif') }}" alt=""  /></a>
        </div>
    {% endif %}
    {% for page in pagesInRange %}

    {% endfor %}
    {% if pagesInRange %}
        <div class="number-pages">
        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <span>{{ page }}</span>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% if next is defined %}
        <div class="nexts">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" title="Следующая"><img src="{{ asset('templates/bulki/images/next.gif') }}" alt=""  /></a>
        </div>
    {% endif %}
</div>
{% endif %}