{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Заказ Отправлен - Гродвита Плюс{% endblock %}

{% block page_title %}Заказ отправлен{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table#order tr { height: 30px; border-bottom: 1px solid; }
        table#order tr td ul { margin: 10px 0; list-style: none; padding-left: 0;}
        table#order tr td ul li { height: 25px; }
    </style>
{% endblock %}

{% block content %}
    {% if page is defined %}{{ page.content|raw }}{% endif %}
    <h2 style="color:green;">Ваш заказ успешно отправлен.</h2>
    <p>По указанным данным с Вами свяжеться наш менеджер по продажам и уточнит подтверждение заказа.</p>
    <h2>Заказ</h2>
    <table id="order" width="100%">
        <tr>
            <td width="35%"><strong>№ заказа</strong></td>
            <td>{{ order.number }}</td>
        </tr>
        <tr>
            <td><strong>ФИО (Наименование организации для юр. лиц)</strong></td>
            <td>{{ order.name }}</td>
        </tr>
        <tr>
            <td><strong>Контактный телефон</strong></td>
            <td>{{ order.phone }}</td>
        </tr>
        <tr>
            <td><strong>Адрес</strong></td>
            <td>{{ order.address }}</td>
        </tr>
        <tr>
            <td><strong>E-mail</strong></td>
            <td>{{ order.email }}</td>
        </tr>
        <tr>
            <td><strong>Продукция</strong></td>
            <td>
                <ul>
                    {% for item in order.products %}
                        <li><a href="{{ path('content_catalog_show_product', {'id':item.id}) }}">{{ item.product.title }}</a> ({{ item.count}} шт.)</li>
                    {% endfor %}                
                </ul>
            </td>
        </tr>
    </table>
    <p><a target="_blank" href="{{ path('content_order_print', {'number':order.number}) }}">Версия для печати</a></p>
{% endblock %}
