{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Заказ - Гродвита Плюс{% endblock %}

{% block page_title %}Заказ{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table.order tr { height: 30px; }
        table.order a { text-decoration: none; }
        table.order td, table.order th { padding: 0 5px; }
        table.order input { width:40px;  }
        table.order-data { margin: 15px 0;}
        table.order-data tr { height: 15px; }
        table.order-data input { width: 80%;  }
        table.order-data .label { width: 40%; padding-left: 10px;}
        label {width:auto;}
        #errors ul li { color: red; }
    </style>
{% endblock %}

{% block content %}
    {% if page is defined %}{{ page.content|raw }}{% endif %}
    <div class="row-fluid simple_row partners_row">
    	<h2>Оформление заказа</h2>
        <div id="errors">
            {{ form_errors(form) }}
        </div>
        {% if products|length %}
            <form action="{{ path('content_order_check') }}" method="post">
                <table class="order" border="1" style="font-size:14px;" width="100%">
                    <tr>
                        <th>№</th>
                    <th>Наименование продукта</th>
                    <th>Количество</th>
                </tr>
                {% for item in products %}
                    <tr>
                        <td>
                            <span class="pr-id">{{ item.id }}</span>
                        </td>    
                        <td style="vertical-align: middle;" width="">
                            <a href="{{ path('content_catalog_show_product', {'id':item.id, 'type':0}) }}"><span>{{ item.title }}</span></a>
                        </td>
                        <td width="10%">
                            <center>
                            <input type="text" name="product_count[{{item.id}}]" value="0">
                            </center>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <br><br>
                <h2 style="margin-left:10px;">Данные заказчика</h2>
                <table class="order-data" width="100%">
                    <tr>
                        <td class="label">
                            <label for="name">ФИО (Наименование организации для юр. лиц)<em class="required">*</em></label>
                        </td>
                        <td>
                            {{ form_widget(form.name) }}
                            <!-- <input class="text" type="text" name="name" required="required"> -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="phone">Контактный телефон<em class="required">*</em></label>
                        </td>
                        <td>
                            {{ form_widget(form.phone) }}
                            <!-- <input class="text" type="text" name="phone" required="required"> -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="address">Адрес<em class="required">*</em></label>
                        </td>
                        <td>
                            {{ form_widget(form.address) }}
                            <!-- <input class="text" type="text" name="address" required="required"> -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="email">E-mail<em class="required">*</em></label>
                        </td>
                        <td>
                            {{ form_widget(form.email) }}
                            <!-- <input class="text" type="text" name="email" required="required"> -->
                        </td>
                    </tr>
                </table>
                {{ form_widget(form) }}
                <p><input type="submit" class="button" value="Отправить" style="margin-right:110px;" /></p>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block foot_javascripts %}
    <script src="asset('http://code.jquery.com/jquery-latest.js')"></script>
    <script src="asset('bootstrap/js/bootstrap.min.js')"></script>    
{% endblock %}
