<h2>Заказ #{{ order.number }}</h2>
<style>
    table#order tr { height: 30px; border-bottom: 1px solid #000; }
    table#order tr td ul { margin: 10px 0; list-style: none; padding-left: 0;}
    table#order tr td ul li { height: 25px; }
</style>
<table id="order" width="800px">
    <tr>
        <td width="35%"><strong>№ заказа</strong></td>
        <td>{{ order.number }}</td>
    </tr>
    <tr>
        <td><strong>ФИО (Наименование организации для юр. лиц)</strong></td>
        <td>{{ order.name }}</td>
    </tr>
    <tr>
        <td><strong>Контактный телефон</strong></td>
        <td>{{ order.phone }}</td>
    </tr>
    <tr>
        <td><strong>Адрес</strong></td>
        <td>{{ order.address }}</td>
    </tr>
    <tr>
        <td><strong>E-mail</strong></td>
        <td>{{ order.email }}</td>
    </tr>
    <tr>
        <td><strong>Продукция</strong></td>
        <td>
            <ul>
                {% for item in order.products %}
                    <li>{{ item.product.title }} ({{ item.count}} шт.)</li>
                {% endfor %}                
            </ul>
        </td>
    </tr>
</table>