{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Контакты - Гродвита Плюс{% endblock %}

{% block page_title %}Контакты{% endblock %}

{% block content %}
    <div class="contBlock">
        {% if page is defined %}{{ page.content|raw }}{% endif %}
        <h2>Схема проезда</h2>
        {{ render(url('pap_dictionary_get', {'name':'map'})) }}
    </div>
    <div class="formBlock">
        <form method="POST" action="{{ path('content_contacts_new') }} {{ form_enctype(form) }}">
                <p>
                    <label for="name">Имя<em class="required">*</em>:</label>
                    {{ form_widget(form.name) }}
                </p>
                <p>
                    <label for="email">E-mail<em class="required">*</em>:</label>
                    {{ form_widget(form.email) }}
                </p>
                <p>
                    <label for="content">Сообщение<em class="required">*</em>:</label>
                    {{ form_widget(form.content) }}
                </p>
                <p>
                    {{ form_widget(form) }}
                </p>
                <p><input type="submit" class="button" value="Отправить" /></p>
        </form>
    </div>
{% endblock %}