{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Отзывы - Гродвита Плюс{% endblock %}

{% block page_title %}Отзывы{% endblock %}

{#% block main_menu %}
    <li><a href="{{ path('content_about') }}">О компании</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_catalog') }}">Каталог</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_news') }}">Новости</a></li>
    <!-- <li class="divider-vertical"></li> -->
    <!-- <li><a href="{{ path('content_articles') }}">Галерея</a></li> -->
    <li class="divider-vertical"></li>
    <li class="active"><a href="{{ path('content_feedbacks') }}">Отзывы</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_contacts') }}">Контакты</a></li>
{% endblock %#}

{% block content %}
    {% if page is defined %}{{ page.content|raw }}{% endif %}
    <div class="contBlock">
       
    
    {% if feedbacks|length %}
        {% for item in feedbacks %}
            <p><strong>Автор: {{ item.name }} E-mail: </strong><a href = "mailto:{{ item.email }}"><strong>{{ item.email }}</strong></a></p>
            <p>{{ item.content }}</p>
            {% if item.answer %}
                    <p><strong>Ответ менеджера:</strong></p>
                    <p>
                        {{ item.answer }}
                    </p>
            {% endif %}
            <hr>
        {% endfor %}
        <h4>&nbsp;</h4>
        {{ knp_pagination_render(feedbacks) }}
    {% endif %}
    </div>  
    <div class="formBlock">
        <form method="POST" action="{{ path('content_feedbacks_new') }} {{ form_enctype(form) }}">
            <p>
                <label for="name">Имя<em class="required">*</em>:</label>
                {{ form_widget(form.name) }}
            </p>
            <p>
                <label for="email">E-mail<em class="required">*</em>:</label>
                {{ form_widget(form.email) }}
            </p>
            <p>
                <label for="content">Сообщение<em class="required">*</em>:</label>
                {{ form_widget(form.content) }}
            </p>
            <p>
                {{ form_widget(form) }}
            </p>
            <p><input type="submit" class="button" value="Отправить" /></p>
        </form>
    </div>
{% endblock %}
