{% extends 'PapContentBundle::layout_main.html.twig' %}

{% block title %}Гродвита Плюс - Хлебобулочные изделия!{% endblock %}

{% block content %}
<div id="mainContent">
    <div id="textBlock">
        <div class="textBlock">
            {% if page is defined %}{{ page.content|raw }}{% endif %}
        </div>
    </div>

    {% render(controller('PapContentBundle:News:showLast')) %}
</div>
<div id="secondaryContent">
    <div class="contacts">
        <h4>Наши контакты</h4>
        <table style = "WIDTH: 301px; HEIGHT: 46px">
            <tbody>
                <tr>
                    <td>Тел. (приёмная):</td>
                    <td><em>(+375 232)</em> <strong>72-58-63</strong></td>
                </tr>
                <tr>
                    <td>Факс:</td>
                    <td><em>(+375 232)</em> <strong>72-58-87</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{#% render(controller('PapContentBundle:Catalog:showPopular')) %#}
{% endblock %}