{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Новости - Гродвита Плюс{% endblock %}

{% block page_title %}Новости{% endblock %}

{#% block main_menu %}
    <li><a href="{{ path('content_about') }}">О компании</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_catalog') }}">Каталог</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="{{ path('content_news') }}">Новости</a></li>
    <!-- <li class="divider-vertical"></li> -->
    <!-- <li><a href="{{ path('content_articles') }}">Галерея</a></li> -->
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_feedbacks') }}">Отзывы</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_contacts') }}">Контакты</a></li>
{% endblock %#}

{% block content %}
<div class="clear"></div>
<br/>
{% if news|length %}
    {% for item in news %}
        <div class="newsN">
            <div class="date">{{ item.date|date('d') }}.{{ item.date|date('m') }}<br/><span>{{ item.date|date('Y') }}</span></div>
            <div class="newsT">
                <div class="titleT"><a href="{{ path('content_news_show', {'id':item.id}) }}" title="{{ item.title }}">{{ item.title }}</a></div>
                <div>{{ item.brief|raw }} <a href="{{ path('content_news_show', {'id':item.id}) }}">Подробнее</a></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="row-fluid simple_row">
{{ knp_pagination_render(news) }}
</div>
{% endblock %}

{% block foot_javascripts %}
    <script src="asset('http://code.jquery.com/jquery-latest.js')"></script>
    <script src="asset('bootstrap/js/bootstrap.min.js')"></script>    
{% endblock %}