{% if news|length %}
    


    <div id="news">
        <h1>Новости</h1>
        <div class="arh"><a href="{{ path('content_news') }}">Архив новостей</a></div>
        
            {% for item in news %}
                <div class="news">  
                    <div class="dateN">{{ item.date|date('d') }}.{{ item.date|date('m') }}<br/><span>{{ item.date|date('Y') }}</span></div>
                    <div class="titleN">
                        <a href="{{ path('content_news_show', {'id':item.id}) }}">{{ item.title }}</a>
                        <div>{{ item.brief|raw }} <a href="{{ path('content_news_show', {'id':item.id}) }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endif %}