{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}{{entity.title}} - Новости - Гродвита Плюс{% endblock %}

{% block breads %}
    {{ parent() }}
    <a href="{{ path('content_news') }}">Новости</a><img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
{% endblock %}

{% block page_title %}
	<!-- <div class="span2"><span class="date">{{ entity.date|date('d.m.Y') }}</span></div> -->
    {{ entity.title }}
{% endblock %}

{#% block main_menu %}
    <li><a href="{{ path('content_about') }}">О компании</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_catalog') }}">Каталог</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="{{ path('content_news') }}">Новости</a></li>
    <!-- <li class="divider-vertical"></li> -->
    <!-- <li><a href="{{ path('content_articles') }}">Галерея</a></li> -->
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_feedbacks') }}">Отзывы</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_contacts') }}">Контакты</a></li>
{% endblock %#}

{% block content %}
    <h1>{{ entity.title }}</h1>
    <div class="dateA">{{ entity.date|date('d.m.Y') }}</div>

	<div class="row-fluid simple_row contact_info">
        {% if entity.image %}
            <img class="news_img" alt="{{ entity.title }}" src="{{ vich_uploader_asset(entity, 'image') }}" />
        {% endif %}
        <p>
            {{ entity.description|raw }}
        </p>
    </div>
            
    <div class="row-fluid simple_row prev_link">
    	<a class="artfr_link" href="{{ path('content_news') }}">Назад</a>
    </div>
{% endblock %}

{% block foot_javascripts %}
    <script src="asset('http://code.jquery.com/jquery-latest.js')"></script>
    <script src="asset('bootstrap/js/bootstrap.min.js')"></script>    
{% endblock %}