{% extends 'PapAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Редактирование отзыва</h1>

    <form action="{{ path('feedback_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <input type="hidden" name="_method" value="PUT" />
                {{ form_widget(edit_form) }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{{ path('feedback') }}" class="btn">Отмена</a>
        </div>
    </form>
{% endblock %}
