{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление отзывами{% endblock %}

{% block body -%}
    <h1>Отзывы</h1>
    <a href="{{ path('feedback_new') }}" class="btn btn-info">Добавить отзыв</a>
    <br /><br />
    {% if entities|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>Email</th>
                    <th>Отзыв/Вопрос</th>
                    <th>Ответ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.content }}</td>
                    <td>{{ entity.answer }}</td>
                    <td>
                        <a href="{{ path('feedback_edit', { 'id': entity.id }) }}" class="icon-pencil"></a>
                        <a href="{{ path('feedback_delete', { 'id': entity.id }) }}" class="icon-trash"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
