<div id="catNav">
	{# Menu #}
	{% if categories|length %}
    <img src="{{ asset('templates/bulki/images/menu-l.png') }}" alt="" width="5px" height="34px" class="png" />
      <ul class="catNav">
        {% for item in categories %}
          <li><a href="{{ path('content_catalog', {'id':item.id, 'type':type}) }}" {% if parent == item %}class="act"{% endif %}>{{ item.title }}</a></li>
          <div class="line"><img src="{{ asset('templates/bulki/images/x.gif') }}" alt="" /></div>    
        {% endfor %}
      </ul>
      <img src="{{ asset('templates/bulki/images/menu-r.png') }}" alt="" width="5px" height="34px" class="png" />



	   {# <div class="row-fluid type_menu_row1">
			<div class="span12">
              <div class="accordion" id="accordion-238323">
	           		{% for item in categories %}
                  {% set flag = false %}
                  {% for one in item.children %}
                    {% if one.name is defined %}
                      {% set flag = true %}
                    {% endif %}
                  {% endfor %}
		                <div class="accordion-group">
		                    <div class="accordion-heading">
                          {% if item.children|length and flag %}
                            {% if parent and ((parent.parent.parent is defined and parent.parent.parent and parent.parent.parent == item) or parent.parent == item or parent == item) %}
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-238323" href="#accordion-element-{{ item.id }}">{{ item.title }}</a>
                            {% else %}
                              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-238323" href="#accordion-element-{{ item.id }}">{{ item.title }}</a>
                            {% endif %}
                {% else %}
                    <a class="accordion-toggle collapsed" data-parent="#accordion-238323" href="{{ path('content_catalog', {'id':item.id, 'type':type}) }}">{{ item.title }}</a>
		                        {% endif %}
		                    </div>
		                    {% if item.children|length %}
			                    <div id="accordion-element-{{ item.id }}" class="accordion-body collapse {% if parent and ((parent.parent.parent is defined and parent.parent.parent and parent.parent.parent == item) or parent.parent == item or parent == item) %} in{% endif %}">
			                        <div class="accordion-inner"> 
			                            <ul>
                                    {% if parent %}
                                      {% render(controller('PapContentBundle:Catalog:categoryChildrens', { 'id': item.id, 'parent':parent.id, 'type':type })) %}
                                    {% else %}
                                      {% render(controller('PapContentBundle:Catalog:categoryChildrens', { 'id': item.id, 'type':type })) %}
                                    {% endif %}
			                            </ul>
			                        </div>
			                    </div>
		                    {% endif %}
		                </div>
	           		{% endfor %}
              </div>
	        </div>
	    </div>#}
    {% endif %}
</div>