{% for child in categories %}
  	<li {% if parent and parent == child %} class="selected"{% endif %}>
      {% set flag = false %}
      {% for one in child.children %}
        {% if one.name is defined %}
          {% set flag = true %}
        {% endif %}
      {% endfor %}
      {% if child.children|length and flag %}
          <div class="accordion-group">
              <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{ child.id }}" href="#accordion-element-{{ child.id }}">{{ child.title }}</a>
              </div>
             <div id="accordion-element-{{ child.id }}" class="accordion-body collapse {% 
                if 
                  parent 
                  and ((parent.parent and parent.parent.parent and parent.parent.parent == child)
                  or parent.parent == child 
                  or parent == child)
               %} in{% endif %}">
                <div class="accordion-inner"> 
                  <ul>
                    {% if parent %}
                      {% render(controller('PapContentBundle:Catalog:categoryChildrens', { 'id': child.id, 'parent':parent.id, 'type':type })) %}
                    {% else %}
                      {% render(controller('PapContentBundle:Catalog:categoryChildrens', { 'id': child.id, 'type':type })) %}
                    {% endif %}                    
                    {#% for one in child.children %}
                      {% if one.name is defined %}
                        <li {% if parent and parent == one %} class="selected"{% endif %}><a href="{{ path('content_catalog', {'id':one.id}) }}">{{ one.title }}</a></li>      
                      {% endif %}
                    {% endfor %#}  
                  </ul>
                </div>
             </div>
          </div>
      {% else %}
        <a href="{{ path('content_catalog', {'id':child.id, 'type':type}) }}">{{ child.title }}</a>
      {% endif %}
    </li>
{% endfor %}