<div class="container secondary_block">
  <form action="{{ path('content_catalog_filter') }}" method="POST">
  <div class="row-fluid">
      <div class="span12 text85">
          <h1>Подобрать двери</h1>
      </div>
  </div>
  
  <div class="row-fluid filter_type_row">
      <div class="container-fluid filter_type_container">
         <div class="bfh-selectbox">
            <input type="hidden" name="type" value="0">
            <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
              <span class="bfh-selectbox-option input-medium" data-option="0">Тип</span>
            </a>
            <div class="bfh-selectbox-options">
              <div role="listbox">
                <ul role="option">
                  {% for item in types %}
                    {% if item.id != 18 %}
                      <li><a class="product-type" tabindex="-1" href="#" data-option="{{ item.id }}">{{ item.title }}</a></li>    
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
          <div class="bfh-selectbox">
            <input type="hidden" name="company" value="0">
            <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
              <span class="bfh-selectbox-option input-medium" data-option="0">Производитель</span>
            </a>
            <div class="bfh-selectbox-options">
              <div role="listbox">
                <ul role="option" class="companies">
                  {% for item in companies %}
                    <li><a tabindex="-1" href="#" data-option="{{ item.company }}">{{ item.company }}</a></li>    
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
          <div class="bfh-selectbox">
            <input type="hidden" name="material" value="0">
            <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
              <span class="bfh-selectbox-option input-medium" data-option="0">Материал</span>
            </a>
            <div class="bfh-selectbox-options">
              <div role="listbox">
                <ul role="option" class="materials">
                  {% for item in materials %}
                    <li><a tabindex="-1" href="#" data-option="{{ item.material }}">{{ item.material }}</a></li>    
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="row-fluid filter_row">
      <div class="span9 ">
          <div class="layout">

              <div class="layout-slider" style="width: 100%">
                  <input id="Slider4" type="slider" name="price" value="0;{{ maxPrice }}" />
              </div>

              <script type="text/javascript">
                  var sliderMax = {{ maxPrice }};
                  var priceArray = [];
                  var sliderStep = 2;
                  var sStep = 1;
                  if (sliderMax > 10 && sliderMax < 21){
                    sliderStep = 4;
                  } else 
                  if (sliderMax >= 21 && sliderMax < 31){
                    sliderStep = 5;
                  } else 
                  if (sliderMax >= 31 && sliderMax < 41){
                    sliderStep = 6;
                  } else 
                  if (sliderMax >= 41){
                    sliderStep = 8;
                  }

                  if (sliderMax % 2 == 0){
                    var flag = true;
                  }
                  else {
                    var flag = false;
                  }

                  console.log(sliderMax);
                  console.log(sliderStep);

                  priceArray.push('мин');

                  if (sliderMax<15){
                    for (i=1; i<sliderMax; i++){
                      if (i % sliderStep == 0){
                        priceArray.push(i + ' млн');
                      }
                      else {
                        priceArray.push('|');
                      }
                    }
                  }
                  else {
                    for (i=1; i<sliderMax; i++){
                      if (i % 4 == 0){
                        priceArray.push(i + ' млн');
                      }
                      else if(i % 2 == 0) {
                        priceArray.push('|');
                      }
                    } 
                    sStep = 2;
                  }

                  console.log(priceArray);
                  priceArray.push('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;макс');

                  jQuery("#Slider4").slider({ from: 0, to:  sliderMax, heterogeneity: [], scale: priceArray, limits: true, step: sStep, smooth:false, dimension: 'млн', skin: "plastic", callback: function( value ){ 
                      console.dir( this ); 
                      console.log(value);
                    },
                  });
              </script>

          </div>
      </div>
      <div class="span3">
          <button class="btn btn-link" type="submit">Показать</button>
      </div>
  </div>
  </form>
</div>

<script>
  $(document).ready(function(){
    $('a.product-type').click(function(){
      var path_company = "{{ path('content_catalog_filter_getdata_companies') }}";
      var id = $(this).data('option');
      $.ajax({
        url: path_company,
        data: {
          id: id
        }
      })
      .done(function( data ) {
         console.log(data );
         $('ul.companies').empty();
         $('ul.companies').append(data);
      })

      var path_material = "{{ path('content_catalog_filter_getdata_materials') }}";
      var id = $(this).data('option');
      $.ajax({
        url: path_material,
        data: {
          id: id
        }
      })
      .done(function( data ) {
         console.log( data );
         $('ul.materials').empty();
         $('ul.materials').append(data);
      })

    });
  });
</script>
