{% if error == 0 %}
	{% if items %}
		{% for item in items %}
		    <li><a tabindex="-1" href="#" data-option="{{ item.material }}">{{ item.material }}</a></li>  
		{% endfor %}
	{% endif %}
{% endif %}