{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Каталог - Гродвита Плюс{% endblock %}

{% block page_title %}Результаты поиска{% endblock %}

{% block main_menu %}
    <li><a href="{{ path('content_about') }}">О компании</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="{{ path('content_catalog') }}">Каталог</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_news') }}">Новости</a></li>
    <!-- <li class="divider-vertical"></li> -->
    <!-- <li><a href="{{ path('content_articles') }}">Галерея</a></li> -->
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_feedbacks') }}">Отзывы</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_contacts') }}">Контакты</a></li>
{% endblock %}

{% block breads %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <span class="artfr_notlink"> > </span>
{% endblock %}

{% block content %}
    <div class="row-fluid catalog_row">
        <div class="span4 catalog_menu">
            {% if parent %}
                {% render(controller('PapContentBundle:Catalog:categories', {'parent':parent.id, 'type':type})) %}
            {% else %}
                {% render(controller('PapContentBundle:Catalog:categories', {'parent':0, 'type':type})) %}
            {% endif %}
        </div>
        <div class="span8 catalog_stand">
            <div class="container-fluid item_container_fluid">
                {% if parent %}
                    <div class="row-fluid">
                        <h2>{{ parent.title }}</h2>
                    </div>
                {% endif %}
                {% if products|length %}
                    {% set count = 0 %}
                    {% for item in products %}
                        {% if count == 0 %}
                            <div class="row-fluid item_row">
                        {% endif %}

                        <div class="span4 one_item {% if count == 0 %}first_item{% elseif count == 3 %}last_item{% endif %}">
                            <div class="row-fluid">
                                <a href="{{ path('content_catalog_show_product', {'id':item.id, 'type':type}) }}">
                                {% if item.image %}
                                    <img alt="{{ item.title }}" src="{{ vich_uploader_asset(item, 'image') }}"  {% if item.door %}style="height:206px;"{% endif %}/>
                                {% else %}
                                    <img alt="{{ item.title }}" src="{{ asset('img/popular_door.jpg') }}"  style="height:206px;"/>
                                {% endif %}
                                </a>
                            </div>
                            {% if item.hit and item.promo %}
                                <div class="top_sales_and_stock"><img alt="" src="{{ asset('img/stock.png') }}"/><img alt="" src="{{ asset('img/top_sales.png') }}"/></div>
                            {% elseif item.hit %}
                                <div class="top_sales_and_stock only_one"><img alt="" src="{{ asset('img/top_sales.png') }}"/></div>
                            {% elseif item.promo %}
                                <div class="top_sales_and_stock only_one"><img alt="" src="{{ asset('img/stock.png') }}"/></div>
                            {% endif %}
                            <div class="row-fluid"><a href="{{ path('content_catalog_show_product', {'id':item.id, 'type':type}) }}" class="artfr_link">{{ item.title }}</a></div>
                            {% if type == 0 %}
                                <div class="row-fluid"><h3>
                                    {% if item.price > 0 %}
                                        {{ item.price|number_format(0, '.', ' ') }} руб
                                    {% else %}
                                        Уточняйте цену
                                    {% endif %}
                                </h3></div>
                            {% endif %}
                        </div>

                        {% set count = count + 1 %}
                        {% if count == 3 %}
                            </div>
                            {% set count = 0 %}
                        {% endif %}
                    {% endfor %}
                    {% if count != 0 %}
                        </div>
                    {% endif %}
                {% else %}
                    <p>В этой категории продукты отсутствуют</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}