{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}Каталог - Гродвита Плюс{% endblock %}

{% block page_title %}Каталог{% endblock %}

{% block breads %}
    {{ parent() }}
    {% if parent.parent is defined and parent.parent %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% if type == 1 %}
            <a href="{{ path('content_catalog', {'id': 0, 'type':1}) }}" class="artfr_link">Опт</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% else %}
            <a href="{{ path('content_catalog') }}" class="artfr_link">Розница</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% endif %}
        <a href="#" class="artfr_link">{{ parent.parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        <a href="#" class="artfr_link">{{ parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />

    {% elseif parent %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% if type == 1 %}
            <a href="{{ path('content_catalog', {'id': 0, 'type':1}) }}" class="artfr_link">Опт</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% else %}
            <a href="{{ path('content_catalog') }}" class="artfr_link">Розница</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% endif %}
        <a href="#" class="artfr_link">{{ parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
    {% else %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% if type == 1 %}
            <a href="{{ path('content_catalog', {'id': 0, 'type':1}) }}" class="artfr_link">Опт</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% else %}
            <a href="{{ path('content_catalog') }}" class="artfr_link">Розница</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="catalog">
        {% if parent %}
            {% render(controller('PapContentBundle:Catalog:categories', {'parent':parent.id, 'type':type})) %}
        {% else %}
            {% render(controller('PapContentBundle:Catalog:categories', {'parent':0, 'type':type})) %}
        {% endif %}

        {% if page is defined %}{{ page.content|raw }}{% endif %}
        {% if products|length %}
            {% for item in products %}
                {% if loop.index % 2 != 0 and loop.index != 1 %}
                    <div class="clear"></div>
                {% endif %}
                <div class="tovarBlock">
                    <div class="tovarIm">
                        {% if item.image %}
                            <img src="{{ vich_uploader_asset(item, 'image') }}" width="176" height="185" alt="{{ item.title }}"  />
                        {% else %}
                            <img src="{{ asset('templates/bulki/images/no-photo.jpg') }}" width="176" height="185" alt="{{ item.title }}"  />
                        {% endif %}
                    </div>
                    <div class="tovarInf">
                        <h1>{{ item.title }}</h1>
                        {% if item.hit %}
                            <span style="color:red; weight:bold;">Хит продаж&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if item.popular %}
                            <span style="color:blue; weight:bold;">Новинка&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        {% if item.promo %}
                            <span style="color:green; weight:bold;">Акция</span>
                        {% endif %}
                        <p>{{ item.description|raw }}</p>
                        <a href="{{ path('content_catalog_show_product', {'id':item.id, 'type':type}) }}">Подробнее</a>
                        <p class="weight"><strong>Цена:</strong> 
                            {% if item.price != 0 and item.price != NULL and type == 0 %}
                                {{ item.price|number_format(0, '.', ' ') }} руб
                            {% else %}
                                Уточняйте цену
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(products) }}
        {% endif %}
    </div>
{% endblock %}