{% if products|length %}
    <div class="row-fluid popular slider_row">
        <!-- <div class="slider_span"> -->
                 
            <div class="row-fluid">
                <h1>Новинки</h1>
            </div>

            <div class="carousel slide" id="carousel-novelty">
                <div class="carousel-inner">
                    {% set open_div = 0 %}
                    {% for item in products %}
                        {% if open_div == 0 %}
                        <div class="item {% if loop.first %}active{% endif %}">
                        {% endif %}
                            <div class="span3">
                                <div class="row-fluid">
                                    <a href="{{ path('content_catalog_show_product', {'id':item.id}) }}">
                                        {% if item.image %}
                                            <img src="{{ vich_uploader_asset(item, 'image') }}" alt="{{ item.title }}" style="height:206px;" />
                                        {% else %}
                                            <img alt="{{ item.title }}" src="{{ asset('img/popular_door.jpg') }}" style="height:206px;" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="row-fluid"><a class="artfr_link" href="{{ path('content_catalog_show_product', {'id':item.id}) }}">{{ item.title }}</a></div>
                            </div>
                        {% set open_div = open_div + 1 %}
                        {% if open_div == 4 or loop.last %}
                            {% set open_div = 0 %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    
                </div> 
                <a data-slide="prev" href="#carousel-novelty" class="left carousel-control left_btn" style="border: 0; height:56px;"></a> 
                <a data-slide="next" href="#carousel-novelty" class="right carousel-control right_btn" style="border: 0; height:56px;"></a>
            </div>
        <!-- </div> -->
    </div>
{% endif %}