{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %} {% if entity %}{{ entity.title }} - {% endif %}Каталог - Гродвита Плюс{% endblock %}

{% block page_title %}Каталог{% endblock %}

{% block breads %}
    {{ parent() }}
    {% if entity.parent.parent is defined and entity.parent.parent %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        <a href="#" class="artfr_link">{{ entity.parent.parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        <a href="{{ path('content_catalog', {'id':entity.parent.id}) }}" class="artfr_link">{{ entity.parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
    {% elseif entity.parent %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        <a href="#" class="artfr_link">{{ entity.parent.title }}</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
    {% else %}
        <a href="{{ path('content_catalog') }}" class="artfr_link">Каталог</a>
        <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% if type == 1 %}
            <a href="{{ path('content_catalog', {'id': 0, 'type':1}) }}" class="artfr_link">Опт</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% else %}
            <a href="{{ path('content_catalog') }}" class="artfr_link">Розница</a>
            <img src="{{ asset('templates/bulki/images/nar.gif') }}" alt="" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="catalog">
        {% if entity.parent %}
            {% render(controller('PapContentBundle:Catalog:categories', {'parent':entity.parent.id, 'type':type})) %}
        {% else %}
            {% render(controller('PapContentBundle:Catalog:categories', {'parent':0, 'type':type})) %}
        {% endif %}

        <!--TOVAR-->
        <div id="tovar">
            <div class="tovarImage">
                <img src="{{ vich_uploader_asset(entity, 'image') }}" width="409" height="430" alt="{{ entity.title }}"  />
            </div>
            <div class="tovarInfo">
                <h1>{{ entity.title }}</h1>
                {{ entity.description|raw }}
                <br>
                {{ entity.content|raw }}
                <div class="back"><a href="{{ path('content_catalog', {'id':entity.parent.id, 'type':type}) }}">Вернуться</a></div>
            </div>
        </div>
        <!--TOVAR-->
    </div>
{% endblock %}
    
