{% extends 'PapContentBundle::layout.html.twig' %}

{% block title %}О компании - Гродвита Плюс{% endblock %}

{% block page_title %}О компании{% endblock %}

{#% block main_menu %}
    <li class="active"><a href="{{ path('content_about') }}">О компании</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_catalog') }}">Каталог</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_news') }}">Новости</a></li>
    <!-- <li class="divider-vertical"></li> -->
    <!-- <li><a href="{{ path('content_articles') }}">Галерея</a></li> -->
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_feedbacks') }}">Отзывы</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('content_contacts') }}">Контакты</a></li>
{% endblock %#}

{% block content %}
    {% if page is defined %}{{ page.content|raw }}{% endif %}
    <div class="row-fluid simple_row partners_row">
    	<h2>Партнеры</h2>
        <p>{{ render(url('pap_dictionary_get', {'name':'partner'})) }}</p>

        {% if partners|length %}
        	{% for item in partners %}
                <div style="float:left; width: 250px;">
    	    		{% if item.image %}
    	    			<img alt="{{ item.title }}" title="{{ item.title }}" src="{{ vich_uploader_asset(item, 'image') }}" />
    	    		{% else %}
        				<img alt="{{ item.title }}" title="{{ item.title }}" src="{{ asset('/template/bulki/image/no-photo.jpg') }}" />
                    {% endif %}
                </div>
		        <div class="float:right; width:677px;">
		        	<span style="font-size:20px;">&laquo;{{ item.title }}&raquo;</span> - <a class="artfr_link" target="_blank" href="http://{{ item.link }}" style="font-size:16px;">{{ item.link }}</a>
					<p>{{ item.description|raw }}</p>
		        </div>
                <br>
                <div class="clear"></div>
        	{% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block foot_javascripts %}
    <script src="asset('http://code.jquery.com/jquery-latest.js')"></script>
    <script src="asset('bootstrap/js/bootstrap.min.js')"></script>    
{% endblock %}