{% extends 'PapAdminBundle::layout.html.twig' %}

{% block title %}Управление заказми{% endblock %}
{% block body %}
    <h1>Заказы</h1>
    {% if entities|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Наименование заказчика</th>
                    <th>Телефон</th>
                    <th>Адрес</th>
                    <th>E-mail</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="{% if entity.status == statuses.new %}success{% elseif entity.status == statuses.closed %}error{% endif %}">
                    <td>{{ entity.number }}</td>
                    <td>{{ entity.date|date('d.m.Y H:i') }}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                        {{ entity.phone }}
                    </td>
                    <td>{{ entity.address }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.status }}</td>
                    <td>
                        <a href="{{ path('admin_order_show', { 'id': entity.id }) }}" class="icon-eye-open" title="Просмотр"></a>
                        <a href="#myModal" role="button" data-toggle="modal" data-number="{{ entity.number }}" class="icon-share openModal" title="Изменить статус"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Изменение статуса</h3>
        </div>
        <form action="{{ path('admin_order_change_status') }}" method="post">
            <div class="modal-body">
                <p>Заказ №<span id="order_number"></span></p>
                    <input type="hidden" name="orderNumber" value="0">
                    <input type="hidden" name="action" value="admin_order_all">
                    <select name="newStatus" id="status">
                        {% for item in statuses %}
                            <option value="{{ item }}">{{ item }}</option>                        
                        {% endfor %}
                    </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Сохранить</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.openModal').click(function(){
                var number = $(this).data('number');
                $('input[name="orderNumber"]').val(number);
                $('#order_number').html(number);
                $('#myModal').modal('show')
            });
        });
    </script>
{% endblock %}
