{% extends 'PapPageBundle::layout.html.twig' %}

{% block body -%}
    <h1>Просмотр заказа №{{ entity.number }}</h1>

    <table class="table table-bordered" width="100%">
        <tbody>
            <tr>
                <th width="30%">№</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>{{ entity.date|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Наименование заказчика</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr class="{% if entity.status == statuses.new %}success{% elseif entity.status == statuses.closed %}error{% endif %}">
                <th>Статус</th>
                <td>{{ entity.status }} <a style="float:right;" href="#myModal" role="button" data-toggle="modal" data-number="{{ entity.number }}" class="openModal" title="Изменить статус"><i class="icon-share"></i>Изменить</a></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <tr>
            <th>Код</th>
            <th>Продукт</th>
            <th>Кол-во</th>
        </tr>
        {% for item in entity.products %}
            <tr>
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.count }}</td>
            </tr>
        {% endfor %}
    </table>

<ul class="record_actions">
    <li>
        <a target="_blank" href="{{ path('content_order_print', {'number':entity.number}) }}">
            Версия для печати
        </a>
    </li>
    <li>
        <a href="{{ path('admin_order_all') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('admin_order_delete', {'id':entity.id}) }}">
            Удалить
        </a>
    </li>
</ul>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Изменение статуса</h3>
        </div>
        <form action="{{ path('admin_order_change_status') }}" method="post">
            <div class="modal-body">
                <p>Заказ №<span id="order_number">{{ entity.number }}</span></p>
                    <input type="hidden" name="orderNumber" value="{{ entity.number }}">
                    <select name="newStatus" id="status">
                        {% for item in statuses %}
                            <option value="{{ item }}">{{ item }}</option>                        
                        {% endfor %}
                    </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Сохранить</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.openModal').click(function(){
                $('#myModal').modal('show')
            });
        });
    </script>
{% endblock %}
