{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, null,{'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>        
    </div>
{% endspaceless %}
{% endblock form_row %}