{% extends '::base.html.twig' %}

{% block title %}Гродвита Плюс{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jslider.css') }}" type="text/css">
    <style>
        .nav .current {
            font-weight: bolder;
            color: #000;
        }
    </style>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/scripts.js') }}"></script>
    <script src="{{ asset('http://code.jquery.com/jquery-latest.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/jquery-1.7.1.js') }}"></script>
    <!-- bin/jquery.slider.min.js -->
    <script type="text/javascript" src="{{ asset('js/slider/jshashtable-2.1_src.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/jquery.numberformatter-1.2.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/tmpl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/jquery.dependClass-0.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/draggable-0.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slider/jquery.slider.js') }}"></script>
    <!-- end -->
    <script src="{{ asset('js/tiny_mce/tinymce.min.js') }}"></script>
    <script src="{{ asset('js/tiny_mce/jquery.tinymce.min.js') }}"></script>
{% endblock %}


{% block parent_body %}
    {% block modal %}{% endblock %}
    <div class="wrap">
    {% block main_menu_container %}
        <div class="container navigation">            
            <div class="navbar">
                <div class="navbar-inner mynavi">
                        {% block main_menu %}
                            {{ knp_menu_render('PapAdminBundle:Builder:mainMenu') }}
                        {% endblock %}
                    <ul class="nav pull-right">
                        <li><a href="{{ path('logout') }}">Выход</a></li>                            
                    </ul>
                </div>
            </div>
        </div> 
    {% endblock %}
    <div class="container main_block">
        {% block bradcrumps %}
            <ul class="breadcrumb">
                {% block brads %}
                    <li><a href="{{ path('admin_index') }}">Главная</a> <span class="divider">/</span></li>
                {% endblock %}
            </ul>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
        <br /><br /><br />
        <div class="container footer well">
            <div class="row-fluid">
                <div class="span6 footer_info1">
                    <p>{{ render(url('pap_dictionary_get', {'name':'copyright'})) }}</p>
                </div>
            </div>
        </div> 
    {% endblock %}
    </div>
{% endblock %}

